<div class="product-administration-page">

	@if (error) {
	<div class="error">
		<p>{{ error }}</p>
	</div>
	}

	@if (productForm) {
	<form [formGroup]="productForm" class="search-form">
		<app-input [name]="'search'"
			[type]="typeInput.TEXT"
			[formControl]="$any(productForm.get('search'))"
			placeholder="Ingrese el ID" />
		<button type="button" (click)="addProduct()" class="btn btn-primary">Agregar
			Producto</button>
	</form>

	}

	@if (!error) {
	<div class="table-container">
		<app-shared-table [columnDefinition]="columnDefinition"
			[data]="productsFiltered"></app-shared-table>
	</div>
	}
</div>
