<div class="product-administration-page">
	<h2>Administración de Productos</h2>
	
	
	@if (error) {
		<div class="error">
			<p>{{ error }}</p>
		</div>
	}
	
	@if (productForm) {
		<form [formGroup]="productForm" class="search-form">
			<input type="text" placeholder="Buscar productos..." [formControl]="$any(productForm.get('search'))" />
			<button type="button" (click)="addProduct()" class="add-button">Agregar Producto</button>
		</form>
	}
	
	@if (!error) {
		<div class="table-container">
			<app-shared-table [columnDefinition]="columnDefinition" [data]="productsFiltered"></app-shared-table>
		</div>
	}
</div>
